<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Alkemy Challenge</h1>

    <h2>Secciones</h2>
    <a href="/api-doc">Swagger Api </a>
  </body>
</html>
